############################################
# Compiled class files
############################################
*.class
*.log

############################################
# Maven/Reports
############################################
target/

############################################
# TestNG
############################################
test-output/

############################################
# Environment files
############################################
.env
.env*

############################################
# IDE - IntelliJ IDEA
############################################
.idea/
*.iml
out/

############################################
# IDE - Eclipse
############################################
.project
.classpath
.settings/
bin/

############################################
# IDE - VS Code
############################################
.vscode/

############################################
# OS files
############################################
.DS_Store
Thumbs.db


############################################
# Temporary files
############################################
*.tmp
*.temp


############################################
# Mac/Linux hidden files
############################################
*.swp
*.swo